body{
	font-family: "Space Mono", "Courier";
	color: #404040;
	margin: 0;
	padding: 0;
}

.bold{
	font-weight: bold;
	color: black;
}

.box_background{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10vh;
	padding-bottom: 10vh;
	overflow: hidden;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.intro_color{
	background-color: #ff5c33;
    box-shadow: 10px 10px 5px #e62e00;
}

.code_color{
	background-color: #33cccc;
    box-shadow: 10px 10px 5px #1f7a7a;
}

.box_foreground{
	padding: 5%;
    background-color: white;
    width: 90%;
    overflow: hidden;
    display: inline-block;
}

.intro{
	font-size: 25px;	
}

.links{
	display: table;
	white-space: nowrap;
}
.links:before, .links:after{
	border-top: 1px solid #cccccc;
	content: '';
	display: table-cell;
	position: relative;
	top: 0.75em;
	width: 45%;
}
.links:before{
	right: 1.5%;
}
.links:after{
	left: 1.5%;
}

.links a{
	font-size: 25px;
	color: #e62e00;
	text-decoration:none;
}
.links a:hover{
	color: #ff5c33;
}

.code{
	font-size: 15px;
}

.code a{
	font-size: 25px;
	font-weight: bold;
	color: #e62e00;
	text-decoration:none;
}
.code a:hover{
	text-decoration: underline;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 25px;
}

.left{
	float: left;
	width: 45%;
}

.right{
	float: right;
	width: 45%;
}

/*CSS for mobile*/
@media only screen and (max-width: 600px) {
    .box_background{
		padding-left: 2%;
		padding-right: 2%;
		min-height: initial;
	}

	.intro{
		font-size: 15px;
	}

	.intro a{
		font-size: 20px;
	}

	.links:before, .links:after{
		top: 1.2em;
	}

	.code{
		font-size: 15px;
	}

	.code a{
		font-size: 20px;
	}

	.left{
		float: none;
		width: 100%;
	}

	.right{
		float: none;
		width: 100%;
	}
}